.projects .section-title {
  padding-bottom: 30px;
}

.thumbnails-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.thumbnail {
  display: inline-block;
  text-align: center;
  width: 300px;
  height: 169px;
  background: rgba(0, 0, 0, 0.0);
  transition: 0.4s;
  margin-bottom: 50px;
}

.thumbnail img {
  position: relative;
  z-index: -1;
  border: solid #222 2px;
  width:100%;
  height:100%;
}

.thumbnail:hover {
  background: rgba(247, 171, 2, 0.2);
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  overflow: auto;
  border: solid #666 1px;
  border-radius: 10px;
  outline: none;
  box-shadow: -12px 16px 24px -6px rgba(0,0,0,0.79);
  max-width: 40%;
}

.modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 20px 20px;
  border-bottom: solid #eee 1px;
  font-size: 20px;

}

.modal-title {
  text-align: left;
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
}

.modal-header i {
  transition: 0.4s;
}

.modal-header i:hover {
  color: #f7ab02;
  cursor: pointer;
  transform: scale(1.3);
}

.modal-body {
  padding: 14px 20px 20px 20px;
}

.modal-icons {
  color: #f7ab02;
  font-size: 24px;
}

.modal-icons i {
  padding-right: 10px;
}

.modal-description {
  font-size: 18px;
  padding-top: 10px;
  font-family: 'LinuxBiolinumORegular';
}

.modal-buttons {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.modal-buttons button {
  font-family: 'LinuxBiolinumORegular';
  font-size: 18px;
  background-color: #222;
  border: none;
  outline: none;
  color: white;
  padding: 12px 12px;
  margin-right: 10px;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.modal-buttons button:hover {
  background-color: #555;
  color: #f7ab02;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 400ms;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
