.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;

}

.title {
  color: white;
  margin-top: 4%;
  border-style: solid;
  display: flex;
  align-items: center;
  font-family: Consolas, monaco, monospace;
  width: calc(15ch + 1vw);
  font-size: calc(16px + 3vw);
  padding: 15px 1vw;
  font-weight: bold;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0px;
  font-size: calc(12px + 0.5vw);
  font-family: 'LinuxBiolinumORegular';
}
