* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: #333;
  color: white;
}

.section-wrapper {
  padding-top: 4%;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  height: 100vh;
  font-family: 'LinuxBiolinumORegular';
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.syntax-highlight {
  color: #f7ab02;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #777;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  transition: 0.4s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f7ab02;
}
